:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #000000;
  --primary-hover: #333333;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --discount: #FF3D3D;
  --border: #e0e0e0;
  --background: #f8f8f8;
}
#root {
  width: 100%;
}
